.folder {
  background-color: rgb(194, 194, 194);
}
.clicked-folder {
  background-color: rgb(100, 100, 100);
}
.picture {
  background-color: rgb(112, 156, 253);
}

button {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  float: left;
  position: absolute;
  top: 100px;
  left: 100px;
}
