.root {
  background-color: rgb(194, 194, 194);
  width: max(6vw, 6vh);
  height: max(6vw, 6vh);
}

.folder {
  background-color: rgb(194, 194, 194);
}
.clicked-folder {
  background-color: rgb(100, 100, 100);
}
.picture {
  background-color: rgb(112, 156, 253);
}

button {
  width: max(1.5vw, 1.5vh);
  height: max(1.5vw, 1.5vh);
  border-radius: 50%;
  float: left;
  position: absolute;
  top: max(1vw, 1vh);
  left: max(1vw, 1vh);
  padding: 0;
  font-size: max(1vw, 1vh);
}